.item {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #b9b9b9;
  cursor: pointer;
  z-index: 1;
  position: relative;
}
.item img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 15px;
}
.item .desc {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.item .desc .name {
  font-size: 18px;
}
.item .desc .email {
  font-size: 15px;
  color: gray;
}
.item .checkbox {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 80%;
}/*# sourceMappingURL=Item.css.map */