@import '../../variables';

.item{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $defaultColor;
  cursor: pointer;
  z-index: 1;
  position: relative;
  img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 15px;
  }
  .desc{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    .name{
      font-size: 18px;
    }
    .email{
      font-size: 15px;
      color: gray;
    }
  }
  .checkbox{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 80%;
  }
}