@import './variables';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  .topbar{
    flex: 1;
    background-color: rgb(39, 131, 131);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    span{
      color: white;
      font-size: 25px;
      font-weight: 500;
    }
  }
  .search{
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $defaultColor;
    .icon{
      color: $defaultColor;
      width: 30px;
      height: 30px;
      margin: 0 15px;
    }
    input{
      width: 100%;
      height: 100%;
      border: none;
      color: $defaultColor;
      font-size: 18px;
      &:focus{
        outline: none;
      }
    }
  }
  .list{
    flex: 12;
    overflow-y: scroll;
    &::-webkit-scrollbar{
      width: 0px;
    }
    &::-webkit-scrollbar-track{
      background-color: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb{
      background-color: $defaultColor;
    }
  }
}