* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.wrapper .topbar {
  flex: 1;
  background-color: #278383;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .topbar span {
  color: white;
  font-size: 25px;
  font-weight: 500;
}
.wrapper .search {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #b9b9b9;
}
.wrapper .search .icon {
  color: #b9b9b9;
  width: 30px;
  height: 30px;
  margin: 0 15px;
}
.wrapper .search input {
  width: 100%;
  height: 100%;
  border: none;
  color: #b9b9b9;
  font-size: 18px;
}
.wrapper .search input:focus {
  outline: none;
}
.wrapper .list {
  flex: 12;
  overflow-y: scroll;
}
.wrapper .list::-webkit-scrollbar {
  width: 0px;
}
.wrapper .list::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.wrapper .list::-webkit-scrollbar-thumb {
  background-color: #b9b9b9;
}/*# sourceMappingURL=App.css.map */